*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

body{
    height: 100vh;
    display: flex;
    align-items: center;
}

.playground{
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    border: 3px solid midnightblue;
}

.block{
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    border: 1px solid black;
    text-align: center;
    line-height: 50px;
    background-color: lavender;
    color:midnightblue;
}